%flex-element-center {
	display: flex;

	// flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

%bg-settings {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

%psevdo-smoth-efect {
	padding-top: 70px;
	margin-top: -70px;
}
