.select {
    width: 100%;
    position: relative;
    z-index: 10;

    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: transparent;
        z-index: -1;
        display: none;
    }

    &.open {
        .select__backdrop {
            display: block;
            z-index: 5;
        }

        .select__input {
            border-bottom: none;
        }

        .select__backdrop {
            display: block;
        }
    }
}