// Font colors
$primary-font-color: #717171;
$secondary-font-color: #636060;
$button-background: #E06733;
$heading-primary-color: #499A18;
$section-background: #EDF2EC;
$link-color: #010201;
$transition: all 0.4s ease;
$prices-span-bg-color: #D9D9D9;
$contacts-item-bg-color: #D6E7D2;
