$primary-font: "Inika", serif;
$secondary-font: "Inter", sans-serif;
$font-weight-bold: bold;
$font-weight-italic: italic;

// h1,
// h2,
// h3,
// h4,
// h5 {
// 	color: $color-font-primary;
// 	@extend %font-primary;
// }

// h1 {
// 	@include fonts($fontSize: 2.8rem, $lineHeight: 3.7rem, $fontWeight: 600);
// }
// h2 {
// 	@include fonts($fontSize: 2.4rem, $lineHeight: 3.9rem, $fontWeight: 600);
// }
// h3 {
// 	@include fonts($fontSize: 1.97rem, $lineHeight: 3.2rem, $fontWeight: 500);
// }

// h4 {
// 	@include fonts($fontSize: 1.7rem, $lineHeight: 2.8rem);
// }
// h5 {
// 	@include fonts($fontSize: 1.5rem, $lineHeight: 2.5rem);
// }
