$mobile: 380px;
$table: 768px;
$breakpoint1450: 1440px;
$breakpoint992: 992px;
$breakpoint768: 768px;
$breakpoint480: 480px;

$containerWidth : 1440px;
$containerPadding : 20px;
$containerSidePadding : 10px