.about {
	/*.about__wrapper*/

	background-color: #FFF;
	padding-top: 113px;
	padding-bottom: 66px;

	@media screen and (max-width: $table) {
		padding: 35px 0 95px;
	}

	@media screen and (max-width: $mobile) {
		padding: 35px 0 25px;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media screen and (max-width: $table) {
			flex-direction: column;
			justify-content: center;
		}
	}

	/*.about__box*/

	&__box {
		max-width: 605px;

		@media screen and (max-width: $table) {
			max-width: 100%;
		}
	}

	/*.about__title*/

	&__title {
		max-width: 463px;
		color: $heading-primary-color;

		@media screen and (max-width: $table) {
			text-align: center;
			max-width: 423px;
			margin: 0 auto;
		}

		span {
			color: $button-background;
		}
	}

	/*.about__text*/

	&__text {
		font-family: $primary-font;

		@include fonts($fontSize: 2rem, $lineHeight: 3rem, $fontWeight: 400);

		color: $secondary-font-color;
		margin-top: 42px;

		@media screen and (max-width: $table) {
			// @include fonts($fontSize: 3.5rem, $lineHeight: 4.6rem, $fontWeight: 400);

			text-align: left;
			margin-top: 53px;
		}

		@media screen and (max-width: $mobile) {
			@include fonts($fontSize: 1.5rem, $lineHeight: 2.5rem, $fontWeight: 400);

			margin-top: 12px;
		}
	}

	/*.about__img-wrapper*/

	&__img-wrapper {
		@media screen and (max-width: $table) {
			margin-top: 46px;

			img {
				width: 250px;
				height: 258px;
			}
		}

		@media screen and (max-width: $mobile) {
			margin-top: -10px;

			img {
				width: 150px;
				height: 147px;
			}
		}
	}

	/*.about__img*/
}
