html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	font-family: $secondary-font;
	color: $primary-font-color;
	font-size: 1.6rem;
	margin: 0 auto;

	// @include fonts();
}

*[tabindex]:focus {
	box-shadow: 0 0 2px 2px $button-background;
	outline: none;
}

*[tabindex]:focus:not(:focus-visible) {
	box-shadow: none;
}

input + span {
	position: relative;
}

input + span::before {
	position: absolute;
	right: -20px;
	top: 5px;
}

//   input:invalid {
// 	border: 2px solid $input-invalid;
//   }

//   input:invalid + span::before {
// 	content: '✖';
// 	color: $input-invalid;

//   }

// input:valid + span::before {
//   content: "✓";
//   color: $input-success;
// }

// Animations

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
