.conteiner {
	margin: 0 auto;

	@media screen and (max-width: $desktop) {
		max-width: 1220px;
	}

	@media screen and (max-width: $table) {
		max-width: 670px;
	}

	@media screen and (max-width: $mobile) {
		max-width: 330px;
	}
}
