<div class="container">
    <h1>Default Dropdown</h1><br />
    <div class="dropdown">
        <button class="dropdown__button" type="button">До 100 дней</button>
        <ul class="dropdown__list">
            <li class="dropdown__list-item" data-value="Любой">Любой</li>
            <li class="dropdown__list-item dropdown__list-item_active" data-value="до 100 дней">до 100 дней</li>
            <li class="dropdown__list-item" data-value="от 100 до 200 дней">от 100 до 200 дней</li>
            <li class="dropdown__list-item" data-value="более 200 дней">более 200 дней</li>
        </ul>
        <input class="dropdown__input_hidden" type="text" name="select-category" value="" />
    </div><br />
    <div class="dropdown">
        <button class="dropdown__button" type="button">До 100 дней</button>
        <ul class="dropdown__list">
            <li class="dropdown__list-item" data-value="Любой">Любой</li>
            <li class="dropdown__list-item dropdown__list-item_active" data-value="до 100 дней">до 100 дней</li>
            <li class="dropdown__list-item" data-value="от 100 до 200 дней">от 100 до 200 дней</li>
            <li class="dropdown__list-item" data-value="более 200 дней">более 200 дней</li>
        </ul>
        <input class="dropdown__input_hidden" type="text" name="select-category" value="" />
    </div><br />
    <div class="dropdown">
        <button class="dropdown__button" type="button">До 100 дней</button>
        <ul class="dropdown__list">
            <li class="dropdown__list-item" data-value="Любой">Любой</li>
            <li class="dropdown__list-item dropdown__list-item_active" data-value="до 100 дней">до 100 дней</li>
            <li class="dropdown__list-item" data-value="от 100 до 200 дней">от 100 до 200 дней</li>
            <li class="dropdown__list-item" data-value="более 200 дней">более 200 дней</li>
        </ul>
        <input class="dropdown__input_hidden" type="text" name="select-category" value="" />
    </div><br />
    <h1>Dropdown with Checkboxes</h1><br />
    <div class="dropdown_with-chk">
        <button class="dropdown_with-chk__button" type="button">Выберите из списка</button>
        <ul class="dropdown_with-chk__list">
            <li class="dropdown_with-chk__list-item">
                <input class="dropdown_with-chk__list-item_label" id="i-1" type="checkbox" name="i-1" />
                <label class="dropdown_with-chk__list-item_label" for="i-1">Без справок о доходе</label>
            </li>
            <li class="dropdown_with-chk__list-item">
                <input class="dropdown_with-chk__list-item_label" id="i-2" type="checkbox" name="i-2" />
                <label class="dropdown_with-chk__list-item_label" for="i-2">Бесплатное снятие наличных</label>
            </li>
            <li class="dropdown_with-chk__list-item">
                <input class="dropdown_with-chk__list-item_label" id="i-3" type="checkbox" name="i-3" />
                <label class="dropdown_with-chk__list-item_label" for="i-3">С кэшбэком</label>
            </li>
            <li class="dropdown_with-chk__list-item">
                <input class="dropdown_with-chk__list-item_label" id="i-4" type="checkbox" name="i-4" />
                <label class="dropdown_with-chk__list-item_label" for="i-4">Бесплатное обслуживание</label>
            </li>
        </ul>
    </div><br />
    <div class="dropdown_with-chk">
        <button class="dropdown_with-chk__button" type="button">Выберите из списка</button>
        <ul class="dropdown_with-chk__list">
            <li class="dropdown_with-chk__list-item">
                <input class="dropdown_with-chk__list-item_label" id="i-2-1" type="checkbox" name="i-2-1" />
                <label class="dropdown_with-chk__list-item_label" for="i-2-1">Без справок о доходе</label>
            </li>
            <li class="dropdown_with-chk__list-item">
                <input class="dropdown_with-chk__list-item_label" id="i-2-2" type="checkbox" name="i-2-2" />
                <label class="dropdown_with-chk__list-item_label" for="i-2-2">Бесплатное снятие наличных</label>
            </li>
            <li class="dropdown_with-chk__list-item">
                <input class="dropdown_with-chk__list-item_label" id="i-2-3" type="checkbox" name="i-2-3" />
                <label class="dropdown_with-chk__list-item_label" for="i-2-3">С кэшбэком</label>
            </li>
            <li class="dropdown_with-chk__list-item">
                <input class="dropdown_with-chk__list-item_label" id="i-2-4" type="checkbox" name="i-2-4" />
                <label class="dropdown_with-chk__list-item_label" for="i-2-4">Бесплатное обслуживание</label>
            </li>
        </ul>
    </div><br />
    <div class="dropdown_with-chk">
        <button class="dropdown_with-chk__button" type="button">Выберите из списка</button>
        <ul class="dropdown_with-chk__list">
            <li class="dropdown_with-chk__list-item">
                <input class="dropdown_with-chk__list-item_label" id="i-3-1" type="checkbox" name="i-3-1" />
                <label class="dropdown_with-chk__list-item_label" for="i-3-1">Без справок о доходе</label>
            </li>
            <li class="dropdown_with-chk__list-item">
                <input class="dropdown_with-chk__list-item_label" id="i-3-2" type="checkbox" name="i-3-2" />
                <label class="dropdown_with-chk__list-item_label" for="i-3-2">Бесплатное снятие наличных</label>
            </li>
            <li class="dropdown_with-chk__list-item">
                <input class="dropdown_with-chk__list-item_label" id="i-3-3" type="checkbox" name="i-3-3" />
                <label class="dropdown_with-chk__list-item_label" for="i-3-3">С кэшбэком</label>
            </li>
            <li class="dropdown_with-chk__list-item">
                <input class="dropdown_with-chk__list-item_label" id="i-3-4" type="checkbox" name="i-3-4" />
                <label class="dropdown_with-chk__list-item_label" for="i-3-4">Бесплатное обслуживание</label>
            </li>
        </ul>
    </div>
</div>