.header {
    background-color: #43adff;

    &.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo {
    a {
        color: #ffffff;
    }
}

//===================[ Menu styles]
.menu {
    /* .menu__item */
    display: flex;
    gap: 30px;
    &__item {
    }

    /* .menu__item-link */

    &__item-link {
    }
}
.burger {
}
