doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="./css/style.nim.css")
    body 
        include html/header
        main.page 
            h1 Hello 
            p My name Jon
            span Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, quasi dignissimos quia dolorum sed delectus quas eligendi ipsam quae, distinctio cum totam explicabo atque excepturi!
            img(src="@img/bamboo-cap.jpg", alt="", srcset="")
        include html/footer
        script(src="js/app.min.js") 