doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="style.min.css")
    body 
        include html/header
        main.page 
            h1 Hello 
            p My name Jon
            img(src="@img/bamboo-cap.jpg", alt="", srcset="")
        include html/footer
        script(src="js/app.min.js") 