.switch {
    width: 70px;
    height: 30px;
    position: relative;
    cursor: pointer;
    display: flex;

    &__checkbox {
        display: none;

        &:checked+.switch__slider {
            background: darkcyan;

            &::after {
                display: flex;
                left: 45px;
                background: whitesmoke;
            }
        }
    }

    &__slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #43adff;
        border-radius: 30px;
        transition: 0.5s background;

        &::after {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 100px;
            background: #ffffff;
            transition: 0.5s left, background;
            left: 5px;
            top: 5px;
        }
    }
}